*{
 box-sizing: border-box;
}
.jumbotron{
background-color: light;
margin-top: 30px;
margin-left: 25px;
margin-right: 25px;
margin-bottom: 30px;
}

.results-container{
 background-color: lightgrey;
 border-color: black;
display: flex;
justify-content: flex-start;
align-items: center;
position: relative;
font-size: 18px;
letter-spacing: 1px;
padding: 12px 10px;
height: 50px;
}
#clipboard{
display: flex;
justify-content: flex-start;
align-items: center;
position: center;
}
.cover-container {
 display: flex;
 width: 100%;
 height: 100%;
 flex-direction: column;
 background-color:lightblue;
}
.inner-cover{
 border-style: solid;
 border-color: black;
 padding: 30px;
 margin: 30px;
} 
.footer{
background-color: lightblue;
padding-top: 14px;
padding-bottom: 13px;

}

